body{
   background-color: rgba(55, 149, 165, 0.658);
    padding: 0;
    margin: 0;   
}
  
.container{

  display: block;
  height:100%;
  margin-top: 10px;
  background-color: rgba(240, 227, 227, 0.466);
  padding: 10px;
 
}
.bloco1 {
    
    text-align: center;
    font-size:1.5em;
    color:rgb(0, 0, 0) ;
    padding: 0 ;
    
    
}
.menu{
    display: block;
    margin: 5px;
    padding-right:2px;
    position: absolute;
    right:10vh;
    top: 10px;       
}

a{
    
    display: inline-block;
    padding-right: 10px;
    position: relative;
    bottom: 0.5em;
    font-size: 20px;
    font-size: 18px;
    color: rgb(255, 102, 0);
}
a :visited{
    color:rgb(21, 21, 153);
}


h1{
    text-align: center;
}
header{
   
    background-color: rgba(0, 0, 0, 0.719);
    margin: auto;
    padding:5px;
    width: 100%;    
}

@keyframes anime{
    0%{
        color: #ffffff ;
    }
    25%{
        color:rgb(121, 120, 120)
    }
    50%{
        color: #646262;
    }
    75%{
        color:rgb(248, 6, 6);
    } 
    100%{
        color: rgba(165, 10, 10, 0.568);
    }  

}
h1{
    animation-name: anime;
    animation-duration:7.5s;
   animation-iteration-count: infinite;
   
   
}

